<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269401359979-625ne8rl3jisi0ehe60sreqk1m3imu9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269401359979-625ne8rl3jisi0ehe60sreqk1m3imu9c</string>
	<key>API_KEY</key>
	<string>AIzaSyBS7HM_CIdrao76nAPQYMKWwkZ1eEx-xwg</string>
	<key>GCM_SENDER_ID</key>
	<string>269401359979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tuteMe</string>
	<key>PROJECT_ID</key>
	<string>profiledit-1e3c9</string>
	<key>STORAGE_BUCKET</key>
	<string>profiledit-1e3c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269401359979:ios:05cf1cc346a2d310bb532e</string>
</dict>
</plist>